.wrap{
    background-color: antiquewhite;
    width: 1000px;
    height: 500px;
    padding: 40px;
}

img{
    outline:none;
    border-style:none;
    width: 80px;
    height: 80px;
}
.flex_area0{
    margin: 50px auto;
}
ul{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
li {
    list-style-type: none;
    margin-right: 20px;

}