@charset "UTF-8";
/* 共通部分
------------------------------- */
html {
  font-size: 100%;
}

body {
  font-family: "Quicksand";
  background-color: #f3f3f3;
}

a {
  text-decoration: none;
  color: #1e0606;
}

li {
  list-style: none;
}

.wrapper {
  max-width: 850px;
  margin: 0 auto;
}

/* ヘッダー
------------------------------- */
.header__inner {
  height: 126px;
  background-color: #0085cf;
  position: relative;
}
.header__inner a {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.header__inner a img {
  margin: 0 44px;
}

/* メイン
------------------------------- */
.main__inner {
  margin-top: 35px;
}
.main__img {
  position: relative;
}
.main__img img {
  width: 100%;
  height: 100%;
}
.main__img .bg {
  width: 560px;
  height: 160px;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 15px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
}
.main__img .bg > .title {
  text-align: center;
  color: #0085cf;
  font-size: 35px;
  margin-top: 29px;
}
.main__img .bg > .sub {
  text-align: center;
  font-weight: bold;
  font-size: 23px;
  margin-top: 8px;
}

/* content
------------------------------- */
.content {
  margin-top: 47px;
}
.content__title {
  font-size: 30px;
  font-weight: bold;
  color: #0085cf;
  margin-bottom: 32px;
  text-align: center;
}
.content__article {
  display: flex;
  justify-content: space-between;
  margin-bottom: 41px;
}
.content__article .article .img {
  margin-bottom: 22px;
}
.content__article .article .img img {
  width: 215px;
  height: 215px;
}
.content__article .article .title {
  font-size: 20px;
  margin-bottom: 12px;
  font-weight: bold;
}
.content__article .article .read {
  background-color: #0085cf;
  width: 111px;
  height: 31px;
  font-size: 15px;
  text-align: center;
  border-radius: 10px;
  line-height: 31px;
  font-weight: bold;
}
.content__article .article .read a {
  display: block;
  color: #f3f3f3;
}

/* message
------------------------------- */
.message__text {
  background-color: #0085cf;
  height: 100px;
  width: 760px;
  border-radius: 13px;
  padding: 15px;
  margin-bottom: 42px;
}
.message__text .title {
  font-size: 20px;
  color: #f3f3f3;
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}
.message__text .sub-title {
  font-size: 15px;
  color: #f3f3f3;
}

/* updates
------------------------------- */
.updates__title {
  text-align: center;
  font-size: 30px;
  color: #0085cf;
  margin-bottom: 30px;
}
.updates__article {
  margin-bottom: 36px;
  display: flex;
}
.updates__article .article-img {
  width: 296px;
  height: 198px;
}
.updates__article .article {
  margin: auto;
  margin-left: 21px;
}
.updates__article .article .article-title {
  font-weight: bold;
  font-size: 20px;
}
.updates__article .article .article-subtitle {
  font-size: 18px;
  margin-top: 14px;
  margin-bottom: 14px;
}
.updates__article .article .article-read {
  background-color: #0085cf;
  width: 111px;
  height: 31px;
  font-size: 15px;
  text-align: center;
  border-radius: 9px;
  line-height: 31px;
  font-weight: bold;
}
.updates__article .article .article-read a {
  display: block;
  color: #f3f3f3;
}

/* footer
------------------------------- */
.footer__logo {
  background-color: #0085cf;
  height: 133px;
}
.footer__logo > span {
  display: block;
  text-align: center;
  padding-top: 37px;
  padding-bottom: 25px;
  font-size: 20px;
  font-weight: bold;
}
.footer__icon {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  width: 352px;
}
.footer__ul {
  height: 90px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.footer__li > a {
  font-size: 16px;
  font-weight: bold;
}
.footer__li > a:hover {
  border-bottom: 1px solid black;
}

/*# sourceMappingURL=style.css.map */
