.wrap{
    background-color: antiquewhite;
    width: 1000px;
    height: 500px;
}

img{
    outline:none;
    border-style:none;
    width: 80px;
    height: 80px;
}

ul{
    display: flex;
    justify-content: space-between;
}
li {
    list-style-type: none;
}