/* 共通部分
------------------------------- */
html {
    font-size: 100%;
}
body {
    font-family: "Noto Sans CJK JP";
}
a{
    text-decoration: none;
}
.wrapper {
    max-width: 1366px;
    margin: 0 auto;
}
/* ナビゲーション
------------------------------- */
.header-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-inner{
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px auto;
}
.logo a{
    text-transform: uppercase;
    color: #48bac2;
}
.drawer {
    display: none;
}
.main-nav{
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.main-nav li{
    margin-right: 33px;
    font-size: 18px;
}
.main-nav li a{
    color: #48bac2;
    text-transform: uppercase;
}
/* top
------------------------------- */
.top{
    position: relative;
    background: url("../images/back1.png");
    max-width: 1366px;
    width: 100%;
    height: 0;
    padding-top: 48.90190336749634%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    color: white;
}
.top-text{
    position:absolute; top:50%;left: 50%;transform: translateY(-50%) translateX(-50%);
    width: 90%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.top-text h2{
    width: 80%;
    font-size: 44px;
    text-align: center;
}
.top-text span{
    width: 80%;
    font-size: 22px;
    text-align: center;
    padding-top: 24px;
}
/* greeting
------------------------------- */

.greeting{
    position: relative;
    background-image: url("../images/greeting_bg1.png");
    max-width: 1366px;
    width: 100%;
    height: 0;
    padding-top: 36.60322108345534%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
.greeting-text{
    position:absolute; top:50%;left: 50%;transform: translateY(-50%) translateX(-50%);
    width: 90%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.greeting-text h3{
    color: #48bac2;
    font-size: 40px;
    text-align: center;
}
.greeting-text p{
    font-size: 18px;
    text-align: center;
    padding-top: 24px;
}
/* cards
------------------------------- */
.cards{
    margin-top: 198px;
}
.card-content{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    background-color: #f2ebf1;
}

.card{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 600px;
    width: 358px;
}
.card-img{
    margin-top: -450px;
    background-color: #cccccc;
    height: 237px;
    width: 360px;
}
.card-text{
    margin-top: 20px;
    margin-bottom: 38px;
    text-align: center;
}
.card > a{
    display: block;
    text-align: center;
}
.card a img{
    width: 226px;
    height: 60px;
}

/* contact
------------------------------- */
.contact{
    width: 100%;
    position: relative;
    display: flex;
    justify-content: space-between;
}
.contact-text{
    width: 100%;
    height: 515px;
    display: flex;
    flex-direction: column;
    margin-left: 5%;
}
.content-logo{
    margin-top: 90px;
    margin-bottom: 30px;
    text-transform: uppercase;
    font-weight: bold;
    color: #48bac2;
    font-size: 28px;
    width: 100%;

}
.contact-items{
    display: flex;
    width: 100%;
}
.contact-th {
    padding-top: 21px;
    display:inline-block;
    position:relative;
}
.contact-th:after{
    content:"";
    display:inline-block;
    width:3px;
    height:275px;
    background-color:#0097A7;
    position:absolute;
    top:-2px;
    right:-5px;
}
.contact-th p{
    font-size: 18px;
    width: 165px;
    text-transform: uppercase;
    margin-bottom: 20px;
}
.contact-item{
    margin-left: 27px;
    padding-top: 21px;
}
.contact-item p{
    margin-bottom: 20px;
    color: #5a5a5a;
    font-size: 18px;

}
.contact-bg{
    background-color: #cccccc;
    width: 100%;
    height: 515px;
}

/* footer
------------------------------- */
.footer-wrapper{
    width: 100%;
    height: 470px;
    background-color: #706f6f;
 }
.footer-text{
    padding-top: 70px;
    color: white;
    text-align: center;
}
.shop-logo{
    text-transform: uppercase;
    margin-bottom: 32px;
    font-size: 40px;
    font-weight: bold;
}
.tell{
    display: flex;
    justify-content: center;
}
.tell img{
    margin-right: 13px;
}
.access-btn{
    margin-top: 34px;
    margin-bottom: 30px;
    height: 60px;
    width: 226px;
}
.footer-menu{
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    width: 50%;
}
.footer-menu li{
    font-size: 14px;
    width: 100%;
    position:relative;
    display:inline-block;
}
.footer-menu li:after{
    content:"";
    display:inline-block;
    height:14px;
    width: 1px;
    background-color: white;
    position:absolute;
    top:50%;
    right:0;
    transform: translateY(-50%) translateX(-50%);
}
.footer-menu li:nth-last-of-type(1):after{
    content: none;
}
.footer-menu li a{
    color: white;
    text-transform: uppercase;
}
.copy-right{
    font-size: 12px;
    margin-top: 44px;
    margin-bottom: 40px;
}
.footer-menu-sp{
    display: none;
}

@media screen and (max-width: 768px){
    /* header
    ------------------------------- */
    .main-nav{
        display: none;
    }
    .drawer {
        display: block;
    }
    .drawer-open {
        display: flex;
        height: 60px;
        width: 60px;
        justify-content: center;
        align-items: center;
        position: relative;
        z-index: 100;
        cursor: pointer;
    }
    .drawer-open span,
    .drawer-open span:before,
    .drawer-open span:after {
        content: '';
        display: block;
        height: 3px;
        width: 25px;
        border-radius: 3px;
        background: #333;
        transition: 0.5s;
        position: absolute;
    }
    .drawer-open span:before {
        bottom: 8px;
    }
    .drawer-open span:after {
        top: 8px;
    }
    .top-text h2{
        font-size: 36px;
    }
    .top-text span{
        display: none;
    }
    .greeting-text h3{
        font-size: 32px;
    }
    .greeting-text p{
        display: none;
    }

    /* card
    ------------------------------- */
    .cards{
        margin-top: 198px;
    }
    .card-content{
        width: 100%;
    }
    .card{
        display: block;
        margin-top: -150px;
    }
    .card-img{
        margin-top: 0px;
        width: 100%;
        height: 0;
        padding-top: 65.83333333333333%;
    }
    /* contact
    ------------------------------- */
    .contact{
        background-color: #cccccc;
        position: relative;
        display: flex;
        justify-content: center;
        margin-top: -100px;
    }
    .contact-bg{
        display: none;
    }
    .content-logo{
        width: 90%;

    }
    .contact-text{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-left: 0;
    }
    .contact-items{
        display: flex;
        justify-content: space-around;
        width: 90%;
    }
    .contact-th {
        width: 100%;
    }
    .contact-th:after{
        content:"";
        display:inline-block;
        width:3px;
        height:275px;
        background-color:#0097A7;
        position:absolute;
        top:0;
        right:0;
    }
    .contact-th p{
        font-size: 18px;
        width: 100%;
        text-transform: uppercase;
        margin-bottom: 20px;
    }
    .contact-item{
        width: 100%;
        margin-left: 10px;
        padding-top: 21px;
    }

    /* footer
    ------------------------------- */
    .footer-wrapper{
        height: 100%;
    }
    .footer-menu{
        display: none;
    }
    .footer-menu-sp{
        display: flex;
        list-style: none;
        flex-direction: column;
        justify-content: center;
        /*align-items: center;*/
        margin: 0 auto;
        width: 100%;
        background-color: white;
    }
    .footer-menu-sp li{
        font-size: 14px;
        width: 100%;
        height: 50px;
        position:relative;
        display:inline-block;
        border-bottom: 1px solid black;
        border-right: 1px solid black;
        border-left: 1px solid black;
        line-height: 50px;
    }
    .footer-menu-sp li:first-child{
        border: 1px solid black;
    }
    .footer-menu-sp li a{
        display: block;
        color: #0097A7;
        text-transform: uppercase;
    }
    .fooer-address{
        margin-top: 20px;
    }
    .copy-right{
        margin-top: 0;
        margin-bottom: 0px;
        padding-bottom: 30px;
    }

}
