/* 共通部分
------------------------------- */
html {
    font-size: 100%;
}
body {
    font-family: "Noto Sans CJK JP";
}
a{
    text-decoration: none;
}
.wrapper {
    max-width: 1366px;
    margin: 0 auto;
}
/* ナビゲーション
------------------------------- */
.header-content{
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    margin-left: 111px;
}
.logo a{
    text-transform: uppercase;
    color: #48bac2;
}
.main-nav{
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.main-nav li{
    margin-right: 33px;
    font-size: 18px;
}
.main-nav li a{
    color: #48bac2;
    text-transform: uppercase;
}
.main-nav-img{
    margin-right: 114px;
}
/* top
------------------------------- */
.top{
    background-image: url("../images/back1.png");
    height: 668px;
    color: white;
}
.top-text{
    margin: 0 auto;
    width: 750px;
}
.top-text h2{
    font-size: 44px;
    text-align: center;
    padding-top: 243px;
}
.top-text p{
    font-size: 22px;
    text-align: center;
    padding-top: 24px;
}
/* greeting
------------------------------- */

.greeting{
    background-image: url("../images/greeting_bg1.png");
    height: 500px;
}
.greeting-text{
    margin: 0 auto;
    width: 555px;
}
.greeting-text h3{
    color: #48bac2;
    font-size: 40px;
    text-align: center;
    padding-top: 70px;
}
.greeting-text p{
    font-size: 18px;
    text-align: center;
    padding-top: 24px;
}
/* cards
------------------------------- */
.cards{
    margin-top: 94px;
    /*padding-left: 113px;*/
    /*padding-right: 113px;*/
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.cards{
    background-color: #f2ebf1;
}
.card{
    display: flex;
    flex-direction: column;
    width: 358px;
    margin-bottom: 70px;
}
.card-img{
    background-color: #cccccc;
    height: 240px;
}
.card-text{
    margin-top: 20px;
    margin-bottom: 38px;
    text-align: center;
}
.card img{
    margin: 0 auto;
    width: 226px;
    height: 60px;
}

/* contact
------------------------------- */
.contact{
    display: flex;
    justify-content: space-between;
}
.contact-text{
    width: 686px;
    height: 515px;
}
.content-logo{
    margin-top: 90px;
    margin-bottom: 30px;
    text-transform: uppercase;
    font-weight: bold;
    color: #48bac2;
    font-size: 28px;
}
.contact-items{
    display: flex;
    /*padding-bottom: 48px;*/

}
.contact-th {
    padding-top: 21px;
    /*padding-bottom: 21px;*/
}
.contact-th p{
    font-size: 18px;
    width: 165px;
    text-transform: uppercase;
    margin-bottom: 20px;
}
.v_line_fix {
    width: 2px;
    height: 275px;
    background-color: #cccccc;
}
.contact-item{
    margin-left: 27px;
    padding-top: 21px;
}
.contact-item p{
    margin-bottom: 20px;
    color: #5a5a5a;
    font-size: 18px;

}
.contact-bg{
    background-color: #cccccc;
    width: 686px;
    height: 515px;
}

/* footer
------------------------------- */
.footer-wrapper{
    width: 100%;
    height: 470px;
    background-color: #706f6f;
 }
.footer-text{
    padding-top: 70px;
    color: white;
    text-align: center;
}
.shop-logo{
    text-transform: uppercase;
    margin-bottom: 32px;
    font-size: 40px;
    font-weight: bold;
}
.tell{
    display: flex;
    justify-content: center;
}
.tell img{
    margin-right: 13px;
}
.access-btn{
    margin-top: 34px;
    margin-bottom: 30px;
    height: 60px;
    width: 226px;
}
.footer-menu{
    list-style: none;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 395px;
}
.footer-menu li{
    /*margin-right: 33px;*/
    font-size: 14px;
}
.footer-menu li a{
    color: white;
    text-transform: uppercase;
}
.v_line_contact{
    width: 1px;
    background-color: white;
}
.copy-right{
    font-size: 12px;
    margin-top: 44px;
    margin-bottom: 40px;
}