/* 共通部分
------------------------------- */
html {
    font-size: 100%;
}
body {
    font-family: "HiraKakuPro";
}
a{
    text-decoration: none;
}
.wrapper {
    max-width: 1600px;
    margin: 0 auto;
}
/* ナビゲーション
------------------------------- */
.header-content{
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.company-name{
    font-weight: bold;
    font-size: 28px;
    color: #30d0ed;
    margin-left: 34px;
}
.company-name span{
    color: #029ae2;
}
.nav-wrapper{
    display: flex;
    align-items: center;
}
nav{
    margin-right: 20px;
}
.nav-items{
    display: flex;
    justify-content: space-between;
}
.nav-items li{
    font-size: 14px;
    list-style: none;
    margin-right: 73px;
}
.nav-items li a{
    color: black;
}
.nav-contact{
    font-size: 14px;
    height: 80px;
    width: 200px;
    text-align: center;
    background-color: #30d0ed;
    color: white;
    line-height: 80px;
}

/* top
------------------------------- */
.top-image{
    background-image: url(../images/img.png);
    min-height: 670px;
    text-align: center;
    color: white;
    position: relative;
}
.top-title{
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform : translate(-50%,-50%);
    transform : translate(-50%,-50%);
    font-size: 140px;
}
.specialist{
    margin-top: -80px;
}
.top-text{
    position: absolute;
    font-size: 25px;
    margin-top: 480px;
    left: 0;
    right: 0;
}
/* news
------------------------------- */
.news{
    background-color: #edfcff;
    height: 235px;
}
.news-wrapper{
    display: flex;
    justify-content: center;
}
.news-head{
    margin-top: 57px;
    margin-right: 41px;
}
.news-head-title{
    color: #019bdf;
    font-size: 40px;
    font-weight: bold;
}
.news-head a{
    color: black;
}
.news-items{
    margin-top: 62px;
}
.news-item{
    display: flex;
    width: 1050px;
    border-bottom: 1px solid #93deff;
    padding-bottom: 14px;
    margin-top: 14px;
}

.news-date{
    font-size: 13px;
}
.news-cate{
    margin-left: 29px;
    margin-right: 33px;
    font-size: 13px;
    color: white;
    background: #019bdf;
    width: 80px;
    text-align: center;
}

/* footer
------------------------------- */
.footer{
    height: 220px;
    position: relative;
}
.logo-wrapper{
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform : translate(-50%,-50%);
    transform : translate(-50%,-50%);
}
.logo-title{
    color: #019bdf;
    font-size: 40px;
    font-weight: bold;
}
.logo-text{
    color: #019bdf;
    font-weight: bold;
    font-size: 14px;
}
.bg-wrapper{
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.bg{
    background-color: #e8e8e8;
    width: 380px;
    height: 55px;
}