/* 共通部分
------------------------------- */
html {
    font-size: 100%;
}
body {
    font-family: "HiraKakuPro";
}
a{
    text-decoration: none;
}
.wrapper {
    max-width: 1600px;
    margin: 0 auto;
}
/* ナビゲーション
------------------------------- */
.header-content{
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.company-name{
    font-weight: bold;
    font-size: 28px;
    color: #30d0ed;
    margin-left: 34px;
    width: 100%;
}
.company-name span{
    color: #029ae2;
}
.nav-wrapper{
    display: flex;
    align-items: center;
    width: 70%;
}
nav{
    width: 100%;
}
.nav-items{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.nav-items li{
    font-size: 14px;
    list-style: none;
    display: block;
}
.nav-items > li > a{
    color: black;
}
.nav-contact{
    font-size: 14px;
    height: 80px;
    width: 200px;
    text-align: center;
    background-color: #30d0ed;
    color: white;
    line-height: 80px;
}

/* top
------------------------------- */
.top-image{
    background-image: url(../images/img.png);
    min-height: 670px;
    color: white;
    position: relative;
}
.top-title{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform : translate(-50%,-50%);
    transform : translate(-50%,-50%);
    font-size: 140px;
}
.specialist{
    margin-top: -80px;
}
.top-text{
    font-size: 25px;
}
/* news
------------------------------- */
.news{
    background-color: #edfcff;
    height: 100%;
}
.news-wrapper{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin: 0 auto;
    height: 100%;
    width: 90%;
    padding: 30px;
}
.news-head{
    margin: 20px
}
.news-head-title{
    width: 100%;
    color: #019bdf;
    font-size: 40px;
    font-weight: bold;
}
.news-head > a{
    color: black;
}
.news-items{
    margin-top: 20px;
    width: 90%;
}
.news-item{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    border-bottom: 1px solid #93deff;
    padding-bottom: 14px;
    margin-top: 14px;
    font-size: 13px;
}

.news-date{
    width: 10%;
}
.news-cate{
    width: 15%;
    color: white;
    background: #019bdf;
    text-align: center;
    line-height:24px;
}
.news-text{
    width: 70%;
}
.news-text a{
    color: black;
}

/* footer
------------------------------- */
.footer{
    height: 220px;
    position: relative;
}
.logo-wrapper{
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform : translate(-50%,-50%);
    transform : translate(-50%,-50%);
}
.logo-title{
    color: #019bdf;
    font-size: 40px;
    font-weight: bold;
}
.logo-text{
    color: #019bdf;
    font-weight: bold;
    font-size: 14px;
}
.bg-wrapper{
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.bg{
    background-color: #e8e8e8;
    width: 380px;
    height: 55px;
}



@media screen and (max-width: 768px){
    /* header
    ------------------------------- */
    nav, .nav-contact{
        display: none;
    }
    .drawer {
        display: block;
    }
    .drawer-open {
        display: flex;
        height: 60px;
        width: 60px;
        justify-content: center;
        align-items: center;
        position: relative;
        z-index: 100;
        cursor: pointer;
    }
    .drawer-open span,
    .drawer-open span:before,
    .drawer-open span:after {
        content: '';
        display: block;
        height: 3px;
        width: 25px;
        border-radius: 3px;
        background: #333;
        transition: 0.5s;
        position: absolute;
    }
    .drawer-open span:before {
        bottom: 8px;
    }
    .drawer-open span:after {
        top: 8px;
    }

    .nav-wrapper{
        display: flex;
        justify-content: space-between;
    }

    /* top
    ------------------------------- */
    .top-title{
        font-size: 80px;
    }
    .specialist{
        margin-top: -50px;
    }
    .top-text{
        font-size: 15px;
    }

    /* news
    ------------------------------- */
    .news-wrapper{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width:100%;
        padding: 20px 10px;
    }
    .news-head{
        margin: 0;
        display: flex;
        align-items: center;

    }
    .news-head > a{
        width: 100%;
        margin-left: 20px;
        color: black;
    }
    .news-items{
        margin: 10px 0;
        width: 100%;
    }
    .news-item{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: start;
        padding: 0;
        margin-top: 30px;
    }

    .news-date{
        width: 80px;
    }
    .news-cate{
        width: 80px;
        color: white;
        background: #019bdf;
        text-align: center;
        line-height:24px;
    }
    .news-text{
        width: 100%;
        margin-top: 5px;
        /*margin-bottom: 10px;*/
        /*margin: 10px 0;*/
    }
    .news-text a{
        /*color: black;*/
    }



}