/* 共通部分
------------------------------- */
html {
    font-size: 100%;
}
body {
    font-family: "Hiragino Kaku Gothic Pro",
    "Hiragino Kaku Gothic ProN";
}
a{
    text-decoration: none;
}
.wrapper {
    max-width: 1400px;
    margin: 0 auto;
}
/* ナビゲーション
------------------------------- */
.page-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 32px 41px 45px 30px;
}
.company-name{
    font-weight: normal;
    border: 1px solid #707070;
    font-size: 35px;
    padding: 9px 91px 11px 62px;
}
.company-name a{
    color: #707070;
}

.main-nav {
    display: flex;
    justify-content: space-between;
    font-size: 15px;

}
.main-nav li {
    list-style: none;
    margin-left: 51px;
}
.main-nav li a{
    color: #707070;
}
.hum-menu{
    display: none;
}

/* トップ画面
------------------------------- */
.top-wrapper{
    position: relative;
    background-image: url("../images/austin-distel-rxpThOwuVgE-unsplash.png");
    background-repeat:  no-repeat;
    background-size: cover;
    background-position: center;
    max-width: 1400px;
    width: 100%;
    height: 611px;
}
.top-wrapper:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
}

.top{
    color: white;
    width: 675px;
    height: 248px;
}
.top-wrapper h2 {
    position: absolute;
    height: 100%;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 42%;
    font-size: 67px;

}
.top-content{
    display: flex;
    flex-wrap: wrap;
    font-size: 21px;

}

/* content1
------------------------------- */

.content1{
    margin-top: 100px;
}
.content-flex{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.content-title-sp{
    display: none;
}
.card img{
    height: 281px;
    width: 375px;
}
.card-text{
    width: 375px;
    margin-top: 23px;
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
}
.card-text p{
    font-size: 15px;
    margin-right: 1rem;
}

/* content2
------------------------------- */
.content2{
    margin-top: 200px;
}

.content-inner{
    display: flex;
    justify-content: space-around;
}

.content-inner img{
    width: 630px;
    height: 400px;
}
.content-title{
    text-align: center;
    font-size: 26px;
}
.content-text{
    margin-left: 45px;
    margin-top: 38px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.content-text p{
    font-size: 14px;
    margin-bottom: 16px;
}
/* content3
------------------------------- */
.content3{
    margin-top: 150px;
}
.content3-text1{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.content3-text1 p{
    margin-top: 16px;
    font-size: 14px;
}
.content3-text2{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.content3-text2 p{
    margin-top: 16px;
    font-size: 14px;
}
.content3-img{
    width: 630px;
    height: 400px;
    margin-left: 42px;
}

/* news
------------------------------- */
.news{
    max-width: 1400px;
    width: 60%;

    margin-top: 206px;
    margin-left: auto;
    margin-right: auto;
}
.news-title{
    text-align: center;
    font-weight: bold;
}
.news-content{
    margin-top: 66px;
}
.news-items li {
    display: flex;
    list-style: none;
    border-bottom: 1px solid #DEDEDE;
    padding-bottom: 18.5px;
    margin-bottom: 18.5px;
    font-size: 14px;
}
.news-items li span{
    margin-right: 5%;
    color: #9B9B9B;
    width:  15%;
}
.news-items li div{
    color: #9B9B9B;
    width: 80%;
}
/* banner
------------------------------- */
.banner{
    margin-top: 170px;
    margin-bottom: 170px;
}

.banner-items{
    display: flex;
    justify-content: space-around;
}
.banner-items a{
    text-align: center;
    line-height: 122px;
    color: black;
    display: block;
    width: 400px;
    height: 122px;
    border: 0.1rem solid #707070;
}

.banner-items span{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}
/* contact
------------------------------- */
.contact{
    background-color: #EBEBEB;
    width: 100%;
    height: 100%;
    border: 1px solid #707070;
}
.contact-wrapper{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    width: 80%;
    padding-top: 70px;
    padding-bottom: 40px;
}
.company-info{
    display: flex;
    flex-direction: column;
}
.company{
    margin-bottom: 27px;
    font-size: 18px;
    color: #3B3B3B;
}
.address{
    margin-bottom: 0.5rem;
    font-size: 13px;
    color: #3B3B3B;
}
.contact-items {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.contact-items li {
    list-style: none;
    margin: 1rem ;
    font-size: 15px;
}
.contact-items li a{
    color: #707070;
}
.company-info-sp{
    display: none;
}
/* footer
------------------------------- */
.footer-wrapper{
     width: 100%;
}
footer{
    height: 79px;
    background-color: #6A6A6A;
    color: white;
    position: relative;
    font-size: 12px;
}
.footer-text{
    /*white-space: nowrap;*/
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

/* スマホ */
@media screen and ( max-width:375px){
    .hum-menu{
        position: relative;
        height: 24px;
        display: inline-block;
        box-sizing: border-box;
    }
    .hum-menu div {
        position: absolute;
        left: 20px;
        height: 4px;
        width: 35px;
        background-color: #2699FB;
        display: inline-block;
        box-sizing: border-box;
    }
    .hum-menu div:nth-of-type(1) {
        top: 0;
    }
    .hum-menu div:nth-of-type(2) {
        top: 10px;
    }
    .hum-menu div:nth-of-type(3) {
        bottom: 0;
        width: 18px;
    }

    .top-wrapper{
        margin-top: -170px;
        margin-bottom: -270px;
        background-image: url("../images/img_sp.png");
        position: relative;
        background-repeat:  no-repeat;
        background-size: 100%;
        width: 100%;
    }
    .top-wrapper:before {
        content: '';
        position: absolute;
        top: 165px;
        right: 0;
        left: 0;
        bottom: 0;
        background-color: rgba(0,0,0,0.5);
        height: 283px;
    }
    .top-wrapper h2 {
        position: absolute;
        height: 100%;
        color: white;
        margin-left: 0px;
        font-size: 30px;
        font-weight: normal;

    }
    .top-content{
        display: none;
    }
    .company-name{
        padding: 10px;
    }
    .main-nav{
        display: none;
    }
    .content-flex{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .content1{
        margin-top: 100px;
    }
    .content-title-sp{
        display: block;
        font-size: 34px;
        margin-bottom: 10px;
    }
    .card img{
        width: 90%;
    }
    .card-text{
        width: 90%;
        margin: 0 auto;
        margin-top: 23px;
        display: flex;
        justify-content: left;
        flex-wrap: wrap;
    }

    .card {
        text-align: center;
        margin-top: 50px;
    }
    .content2{
        margin-top: 50px;
    }
    .content-inner{
        flex-direction: column;
        align-items: center;
    }
    .content-inner img{
        width: 100%;
        height: 100%;

    }

    .content{
        width: 375px;
    }
    .content-text{
        width: 90%;
        margin: 0 auto;
        margin-top: 23px;
        display: flex;
        justify-content: left;
        flex-wrap: wrap;
    }
    .content3-inner{
        display: flex;

    }
    .content-text p{
        font-size: 14px;
        margin-left: 10px;
    }
    .content-title{
        display: none;

    }
    .content3-text2{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .content3-text2 p{
        display: none;
    }

    .content3-inner{
        width: 375px;
        order:2;
    }
    .content3{
        margin-top: 50px;
    }
    .content3-img{
        width: 100%;
        text-align: center;
        order:1;
        margin-left: 0;
    }
    .content3-text1{
        display: flex;
        justify-content: flex-start;
    }
    .content3-text1 p{
        margin-top: 16px;
        margin-left: 10px;
    }

    .news{
        max-width: 1400px;
        width: 90%;
        margin: 50px auto;
    }
    .news-title{
        text-align: center;
        font-weight: bold;
    }
    .news-content{
        margin-top: 20px;
    }
    .news-items li {
        display: flex;
        list-style: none;
        border-bottom: 1px solid #DEDEDE;
        padding-bottom: 18.5px;
        margin-bottom: 18.5px;
        font-size: 14px;
    }
    .news-items li span{
        margin-right: 5%;
        color: #9B9B9B;
        width:  20%;
    }
    .news-items li div{
        color: #9B9B9B;
        width: 75%;
        white-space: nowrap;
        overflow: hidden;
    }

    .banner{
        margin-top: 50px;
        margin-bottom: 50px;
    }
    .banner-content a{
        color: black;
    }
    .banner-items{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }

    .banner-items a{
        margin: 20px 0;
        width: 90%;
    }

    .contact{
        background-color: #EBEBEB;
        width: 100%;
        height: 100%;
        border: none;
    }
    .contact-wrapper{
        display: flex;
        flex-direction: column;
        margin: 0;
        width: 100%;
        padding-top: 70px;
        padding-bottom: 40px;

    }
    .company-info{
        display: flex;
        flex-direction: column;
        order:2;
    }
    .company{
        margin-bottom: 27px;
        font-size: 18px;
        color: #3B3B3B;
    }
    .address{
        margin-bottom: 0.5rem;
        font-size: 13px;
        color: #3B3B3B;
    }
    .contact-items {
        order:1;
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .contact-items li {
        background-color: white;
        margin: 0 0;
        width: 100%;
        border-top: 1px solid black;
        border-right: 1px solid black;
        border-left: 1px solid black;
        list-style: none;
        padding: 1rem ;
        font-size: 15px;
    }
    .contact-items li:last-child{
        margin: 0 0;
        width: 100%;
        border-bottom: 1px solid black;
        list-style: none;
        padding: 1rem ;
        font-size: 15px;

    }
    .contact-items li a{
        color: #707070;
    }

    .company-info{
        display: none;
    }
    .company-info-sp{
        display: flex;
        width: 100%;
        margin-top: 40px;
        justify-content: space-around;
        align-items: center;
        order: 2;
    }
    .company-info-sp > .company{
        font-size: 18px;
        color: #3B3B3B;
    }
    .footer-text{
        width: 100%;
        text-align: center;
    }




}

/* タブレット */
@media screen and (min-width:376px) and ( max-width:768px) {
    .content-flex{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .content1 {
        margin-top: 50px;
    }
    .card {
        margin-top: 50px;
    }
    .content2{
        margin-top: 100px;
    }

    .content-inner{
        flex-direction: column;
        align-items: center;
    }
    .content{
        width: 630px;
        height: 281px;
    }
    .content-text{
        margin-left: 0;
        margin-top: 16px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .content-text p{
        font-size: 14px;
    }
    .content-title{
        margin-top: 30px;
    }

    .content3-inner{

        width: 630px;
        height: 281px;
        order:2;
    }
    .content3{
        margin-top: 100px;
    }
    .content3-img{
        width: 100%;
        text-align: center;
        order:1;
        margin-left: 0;
    }
    .content3-text1 p{
        margin-top: 16px;
    }
    .company-info-sp{
        display: none;
    }
    .company-info{

    }
}


