/* 共通部分
------------------------------- */
html {
    font-size: 100%;
}
body {
    font-family: "Hiragino Kaku Gothic Pro",
    "Hiragino Kaku Gothic ProN";
}
a{
    text-decoration: none;
}
.wrapper {
    max-width: 1400px;
    margin: 0 auto;
}
/* ナビゲーション
------------------------------- */
.page-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 32px 41px 45px 30px;
}
.company-name{
    font-weight: normal;
    border: 1px solid #707070;
    font-size: 35px;
    padding: 9px 91px 11px 62px;
}
.company-name a{
    color: #707070;
}

.main-nav {
    display: flex;
    justify-content: space-between;
    font-size: 15px;

}
.main-nav li {
    list-style: none;
    margin-left: 51px;
}
.main-nav li a{
    color: #707070;
}

/* トップ画面
------------------------------- */
.top-wrapper{
    position: relative;
    background-image: url("../images/austin-distel-rxpThOwuVgE-unsplash.png");
    background-repeat:  no-repeat;
    background-size: cover;
    background-position: center;
    max-width: 1400px;
    width: 100%;
    height: 611px;
}
.top-wrapper:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
}

.top{
    color: white;
    width: 675px;
    height: 248px;
}
.top-wrapper h2 {
    position: absolute;
    height: 100%;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 42%;
    font-size: 67px;

}
.top-content{
    display: flex;
    flex-wrap: wrap;
    font-size: 21px;

}

/* content1
------------------------------- */

.content1{
    margin-top: 100px;
}
.content-flex{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.card img{
    height: 281px;
    width: 375px;
}
.card-text{
    width: 375px;
    margin-top: 23px;
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
}
.card-text p{
    font-size: 15px;
    margin-right: 1rem;
}

/* content2
------------------------------- */
.content2{
    margin-top: 200px;
}

.content-inner{
    display: flex;
    justify-content: space-around;
}

.content-inner img{
    width: 630px;
    height: 400px;
}
.content-title{
    text-align: center;
    font-size: 26px;
}
.content-text{
    margin-left: 45px;
    margin-top: 38px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.content-text p{
    font-size: 14px;
    margin-bottom: 16px;
}
/* content3
------------------------------- */
.content3{
    margin-top: 150px;
}
.content3-text1{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.content3-text1 p{
    margin-top: 16px;
    font-size: 14px;
}
.content3-text2{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.content3-text2 p{
    margin-top: 16px;
    font-size: 14px;
}
.content3-img{
    width: 630px;
    height: 400px;
    margin-left: 42px;
}

/* news
------------------------------- */
.news{
    max-width: 1400px;
    width: 60%;

    margin-top: 206px;
    margin-left: auto;
    margin-right: auto;
}
.news-title{
    text-align: center;
    font-weight: bold;
}
.news-content{
    margin-top: 66px;
}
.news-items li {
    display: flex;
    list-style: none;
    border-bottom: 1px solid #DEDEDE;
    padding-bottom: 18.5px;
    margin-bottom: 18.5px;
    font-size: 14px;
}
.news-items li span{
    margin-right: 5%;
    color: #9B9B9B;
    width:  15%;
}
.news-items li div{
    color: #9B9B9B;
    width: 80%;
}
/* banner
------------------------------- */
.banner{
    margin-top: 170px;
    margin-bottom: 170px;
}
.banner-content{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.banner-content a{
    color: black;
}
.banner-items{
    width: 400px;
    height: 122px;
    border: 0.1rem solid #707070;
    position: relative;

}
.banner-items span{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}
/* contact
------------------------------- */
.contact{
    background-color: #EBEBEB;
    width: 100%;
    height: 100%;
    border: 1px solid #707070;
}
.contact-wrapper{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    width: 80%;
    padding-top: 70px;
    padding-bottom: 40px;
}
.company-info{
    display: flex;
    flex-direction: column;
}
.company{
    margin-bottom: 27px;
    font-size: 18px;
    color: #3B3B3B;
}
.address{
    margin-bottom: 0.5rem;
    font-size: 13px;
    color: #3B3B3B;
}
.contact-items {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.contact-items li {
    list-style: none;
    margin: 1rem ;
    font-size: 15px;
}
.contact-items li a{
    color: #707070;
}

/* footer
------------------------------- */
.footer-wrapper{
     width: 100%;
}
footer{
    height: 79px;
    background-color: #6A6A6A;
    color: white;
    position: relative;
    font-size: 12px;
}
.footer-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}


@media screen and (max-width:768px){
    .content-flex{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .content1 {
        margin-top: 50px;
    }
    .card {
        margin-top: 50px;
    }
    .content2{
        margin-top: 100px;
    }

    .content-inner{
        flex-direction: column;
        align-items: center;
    }
    .content{
        width: 630px;
        height: 281px;
    }
    .content-text{
        margin-left: 0;
        margin-top: 16px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .content-text p{
        font-size: 14px;
    }
    .content-title{
        margin-top: 30px;
    }

    .content3-inner{

        width: 630px;
        height: 281px;
        order:2;
    }
    .content3{
        margin-top: 100px;
    }
    .content3-img{
        width: 100%;
        text-align: center;
        order:1;
        margin-left: 0;
    }
    .content3-text1 p{
        margin-top: 16px;
    }

}

