@charset "UTF-8";
@font-face {
  font-family: "BodoniBook";
  src: url(../font/BodoniBook.otf);
}
/* 共通部分
------------------------------- */
html {
  font-size: 100%;
}

body {
  font-family: "BodoniBook";
}

a {
  text-decoration: none;
}

.wrapper {
  max-width: 1600px;
  margin: 0 auto;
}

/* ナビゲーション
------------------------------- */
.nav-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 96px;
  width: 1300px;
  margin: 0 auto;
}
.nav-wrapper .main-nav {
  height: 96px;
  width: 375px;
  align-items: center;
  text-transform: uppercase;
  font-size: 15px;
  display: flex;
  justify-content: space-between;
}
.nav-wrapper .main-nav li {
  list-style: none;
}
.nav-wrapper .main-nav li a {
  color: #333333;
}
.nav-wrapper .main-nav li a:hover {
  color: #019bdf;
}
.nav-wrapper a {
  color: #333333;
}
.nav-wrapper a h1 {
  font-size: 36px;
  font-weight: bold;
  text-transform: uppercase;
}
.nav-wrapper a h1:hover {
  color: #019bdf;
}

/* メイン
------------------------------- */
.main {
  position: relative;
  height: 710px;
}
.main > img {
  position: absolute;
}
.main .main-title {
  position: absolute;
  top: 50%;
  left: 40%;
  transform: translateY(-50%) translateX(-50%) rotate(-5.1deg);
  color: white;
  font-size: 186px;
  transform-origin: 50% 50%;
}
.main .main-text {
  position: absolute;
  top: 60%;
  left: 30%;
  color: #333333;
  width: 200px;
  text-align: center;
}
.main .main-text .main-sub {
  font-size: 24px;
  margin-bottom: 45px;
}
.main .main-text .main-sub-text {
  font-size: 18px;
  border-bottom: 1px solid #333333;
  width: 165px;
}
.main .main-text .main-sub-text a {
  color: #333333;
}
.main .main-text .main-sub-text a:hover {
  color: #019bdf;
}

/* roll
------------------------------- */
.roll-wrapper {
  height: 90px;
  margin-bottom: 33px;
}

.slider {
  margin: 100px auto;
  width: 80%;
}

.prev {
  position: absolute;
  top: 50%;
  left: 1%;
  z-index: 1;
  font-size: 30px;
  color: #535252;
}

.next {
  position: absolute;
  top: 50%;
  right: 1%;
  z-index: 1;
  font-size: 30px;
  color: #535252;
}

.slick-dots {
  height: 0px;
}

/* footer
------------------------------- */
.footer-wrapper {
  width: 1200px;
  height: 155px;
  display: flex;
}
.footer-wrapper .image {
  width: 732px;
  position: relative;
}
.footer-wrapper .image .bgA {
  position: absolute;
  top: 175px;
  left: 200px;
  background-color: #f5f0e9;
  height: 220px;
  width: 600px;
}
.footer-wrapper .image .bgB {
  position: absolute;
  top: 125px;
  left: 230px;
  background-color: #e2e2e2;
  height: 270px;
  width: 700px;
}
.footer-wrapper .footer-text {
  margin-left: 237px;
  margin-top: 157px;
}
.footer-wrapper .footer-text .title {
  font-size: 20px;
}
.footer-wrapper .footer-text .footer-title {
  font-size: 64px;
  margin-bottom: -16px;
  margin-top: -25px;
}
.footer-wrapper .footer-text .footer-sub {
  font-size: 18px;
}
.footer-wrapper .footer-text .footer-discover {
  margin-top: 48px;
  font-size: 15px;
  border-bottom: 1px solid #333333;
  width: 55px;
}
.footer-wrapper .footer-text .footer-discover a {
  color: #333333;
}
.footer-wrapper .footer-text .footer-discover a:hover {
  color: #019bdf;
}

/*# sourceMappingURL=style.css.map */
