@font-face {
    font-family: 'BodoniBook';
    src: url(../font/BodoniBook.otf);
}


//カラー
$cBlack: #333333;
$cWhite: white;

//フォントサイズ
$fRegular: 15px;
$fTitle: 36px;
$fMainTitle: 186px;
$fMainSub: 24px;
$fMainText: 18px;

/* 共通部分
------------------------------- */
html {
    font-size: 100%;
}
body {
    font-family: "BodoniBook";
}

a{
    text-decoration: none;
}
.wrapper {
    max-width: 1600px;
    margin: 0 auto;
}
/* ナビゲーション
------------------------------- */

.nav-wrapper-sp{
    display: none;
}
.nav-wrapper{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 96px;
    width: 75%;
    margin: 0 auto;


    & .main-nav {
        height: 96px;
        width: 100%;
        align-items: center;
        text-transform: uppercase;
        font-size: 15px;
        display: flex;
        justify-content: space-between;
        & li{
            list-style: none;
            & a{
                color: $cBlack;
                &:hover{
                    color: #019bdf;
                }
            }
        }
    }
    & a{
        color: $cBlack;
        h1{
            font-size: $fTitle;
            font-weight: bold;
            text-transform: uppercase;
            &:hover{
                color: #019bdf;
            }
        }
    }
}
/* メイン
------------------------------- */
.main{
    position: relative;
    height: 710px;

    &>img{
        position: absolute;
    }
    & .main-title{

        & .main-primitive{
            position: absolute;
            top: 50%;
            left: 40%;
            transform: translateY(-50%) translateX(-50%) rotate(-5.1deg);
            color: $cWhite;
            font-size: $fMainTitle;
            transform-origin: 50% 50%;
        }
        & .main-sub {
            position: absolute;
            top: 61%;
            left: 30%;
            color: $cBlack;
            width: 200px;
            text-align: center;
            font-size: $fMainSub;
            margin-bottom: 45px;
        }

        & .main-sub-text{
            position: absolute;
            top: 70%;
            left: 31%;
            color: $cBlack;
            text-align: center;
            font-size: $fMainText;
            border-bottom: 1px solid $cBlack;
            width: 165px;
            & a{
                color: $cBlack;
                &:hover{
                    color: #019bdf;
                }
            }
        }
    }
    //& .main-text{
    //    position: absolute;
    //    top: 60%;
    //    left: 30%;
    //    color: $cBlack;
    //    width: 200px;
    //    text-align: center;
    //
    //    & .main-sub{
    //        font-size: $fMainSub;
    //        margin-bottom: 45px;
    //    }
    //    & .main-sub-text{
    //        font-size: $fMainText;
    //        border-bottom: 1px solid $cBlack;
    //        width: 165px;
    //        & a{
    //            color: $cBlack;
    //            &:hover{
    //                color: #019bdf;
    //            }
    //        }
    //    }
    //}
}
/* roll
------------------------------- */
.roll-wrapper{
    height: 90px;
    margin-bottom: 33px;
}

.slider{
    margin: 100px auto;
    width: 80%;
}
.prev{
    position: absolute;
    top: 50%;
    left: 1%;
    z-index: 1;
    font-size: 30px;
    color: #535252;
}
.next{
    position: absolute;
    top: 50%;
    right: 1%;
    z-index: 1;
    font-size: 30px;
    color: #535252;

}
.slick-dots{
    height: 0px;
}


/* footer
------------------------------- */
.footer-wrapper{
    width: 75%;
    margin: 0 auto;
    height: 280px;
    display: flex;


    & .image{
        width: 70%;
        position: relative;

        & .bgA{
            position: absolute;
            bottom: 0;
            left: 0;
            background-color: #f5f0e9;
            height: 80%;
            width: 80%;
        }
        & .bgB{
            position: absolute;
            bottom: 0;
            left: 30px;
            background-color: #e2e2e2;
            height: 100%;
            width: 80%;
        }
    }

    & .footer-text{
        width: 30%;
        margin-top: 50px;
        & .title{
            font-size: 20px;
        }
        & .footer-title{
            font-size: 64px;
        }
        & .footer-sub{
            font-size: 18px;
        }
        & .footer-discover{
            margin-top: 30px;
            font-size: 15px;
            border-bottom: 1px solid $cBlack;
            width: 55px;
            & a{
                color: $cBlack;
                &:hover{
                    color: #019bdf;
                }
            }
        }
    }
}

@media screen and (max-width: 768px) {
    /* header
    ------------------------------- */
    .nav-wrapper{
        display: none;
    }

    .drawer {
        display: block;
    }
    .drawer-open {
        display: flex;
        height: 60px;
        width: 60px;
        justify-content: center;
        align-items: center;
        position: relative;
        z-index: 100;
        cursor: pointer;
    }
    .drawer-open span,
    .drawer-open span:before,
    .drawer-open span:after {
        content: '';
        display: block;
        height: 3px;
        width: 25px;
        border-radius: 3px;
        background: #333;
        transition: 0.5s;
        position: absolute;
    }
    .drawer-open span:before {
        bottom: 8px;
    }
    .drawer-open span:after {
        top: 8px;
    }


    .nav-wrapper-sp{
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 96px;
        width: 75%;
        margin: 0 auto;


        & .main-nav {
            height: 96px;
            width: 100%;
            align-items: center;
            text-transform: uppercase;
            font-size: 15px;
            display: flex;
            justify-content: space-between;
            & li{
                list-style: none;
                & a{
                    color: $cBlack;
                    &:hover{
                        color: #019bdf;
                    }
                }
            }
        }
    }

    /* footer
    ------------------------------- */
    .footer-wrapper{

        width: 100%;
        margin: 0 auto;
        height: 100%;
        flex-direction: column;

        //display: block;


        & .image{
            width: 100vw;
            height: 150px;
            position: relative;
            order: 2;

            & .bgA{
                position: absolute;
                bottom: 0;
                left: 0;
                background-color: #f5f0e9;
                width: 100%;
            }
            & .bgB{
                height: 100%;
                width: 100%;
            }
        }

        & .footer-text{
            text-align: center;
            width: 100%;
            margin-top: 20px;
            order: 1;
            & .title{
                font-size: 20px;
            }
            & .footer-title{
                font-size: 64px;
            }
            & .footer-sub{
                font-size: 18px;
            }
            & .footer-discover{
                font-size: 15px;
                border-bottom: 1px solid $cBlack;
                margin: 20px auto;
                & a{
                    color: $cBlack;
                    &:hover{
                        color: #019bdf;
                    }
                }
            }
        }
    }


}