@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Quicksand:700);
@import url(https://fonts.googleapis.com/css?family=Quicksand:400);
/* 共通部分
------------------------------- */
html {
  font-size: 100%;
}

body {
  font-family: "Quicksand";
  background-color: #f3f3f3;
}

a {
  text-decoration: none;
  color: #1e0606;
}

li {
  list-style: none;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
}

/* ナビゲーション
------------------------------- */
.main-nav {
  margin: 0 30px;
}
.main-nav > .icon {
  margin-top: 25px;
  text-align: right;
}
.main-nav > .icon > a img {
  margin-left: 23px;
}
.main-nav > .icon > a img:hover {
  color: #1e0606;
}
.main-nav > .logo {
  text-align: center;
}
.main-nav > .nav-list {
  width: 660px;
  margin: 48px auto;
  display: flex;
  justify-content: space-around;
}
.main-nav > .nav-list li > .nav-item {
  font-family: Quicksand;
  font-weight: bold;
}

/* イメージ
------------------------------- */
.image {
  text-align: center;
  margin-bottom: 52px;
}
.image > .img {
  width: 1000px;
}

/* メイン
------------------------------- */
.main > .main-wrapper {
  width: 1000px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.main > .main-wrapper > .main-top > .card {
  width: 648px;
  display: flex;
  margin-bottom: 27px;
}
.main > .main-wrapper > .main-top > .card:hover {
  opacity: 0.5;
}
.main > .main-wrapper > .main-top > .card > .card-image {
  position: relative;
}
.main > .main-wrapper > .main-top > .card > .card-image > .new-image {
  position: absolute;
  left: 0;
  margin-top: -5px;
  margin-left: -5px;
}
.main > .main-wrapper > .main-top > .card > .card-text {
  padding: 26px;
}
.main > .main-wrapper > .main-top > .card > .card-text > .card-top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 22px;
}
.main > .main-wrapper > .main-top > .card > .card-text > .card-top > .time {
  font-size: 16px;
  font-weight: bold;
}
.main > .main-wrapper > .main-top > .card > .card-text > .card-top > .category {
  width: 70px;
  height: 26px;
  line-height: 26px;
  text-align: center;
  background-color: #bfa34c;
  color: #f3f3f3;
  font-family: Quicksand;
  font-weight: bold;
}
.main > .main-wrapper > .main-top > .card > .card-text > .text {
  font-size: 22px;
  font-weight: bold;
}
.main > .main-wrapper > .main-sub {
  text-align: center;
}
.main > .main-wrapper > .main-sub > .sub-img {
  margin-bottom: 24px;
}
.main > .main-wrapper > .main-sub > .sub-category > .category-top {
  background-color: #bfa34c;
  color: #f3f3f3;
  font-size: 16px;
  height: 50px;
  line-height: 50px;
}
.main > .main-wrapper > .main-sub > .sub-category a {
  background-color: white;
  display: flex;
  justify-content: space-between;
  padding: 16px 15px 16px 15px;
  border-bottom: 1px solid #e9e9e9;
}
.main > .main-wrapper > .main-sub > .sub-category a:hover {
  background-color: #f3f3f3;
}
.main > .main-wrapper > .main-sub > .sub-category a .arrow {
  color: #cacaca;
  font-size: 15px;
}
.main > .main-wrapper > .main-sub > .sub-category a > .category-list {
  text-align: left;
  font-weight: bold;
  font-family: Quicksand;
}

.footer {
  margin-top: 116px;
  background-color: white;
  position: relative;
}
.footer > .footer-arrow {
  position: absolute;
  background-color: white;
  left: 50%;
  height: 84px;
  width: 100px;
  border-radius: 100%;
  transform: translateY(-50%) translateX(-50%);
  line-height: 55px;
  text-align: center;
  font-weight: bold;
  font-size: 22px;
}
.footer > .footer-contact {
  padding-top: 41px;
  margin-bottom: 37px;
  display: flex;
  justify-content: center;
}
.footer > .footer-contact > img {
  height: 28px;
  width: 131px;
  margin-right: 51px;
}
.footer > .footer-contact > .contact-text {
  font-size: 12px;
  font-weight: bold;
}
.footer > .footer-text {
  border-top: 1px solid #e9e9e9;
}
.footer > .footer-text > .contact-wrapper {
  width: 460px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  font-size: 13px;
  padding: 26px 0;
  font-weight: bold;
}
.footer > .footer-text > .contact-wrapper > span {
  color: #e9e9e9;
}
.footer > .copy-right {
  text-align: center;
  padding-bottom: 41px;
  font-weight: bold;
  font-size: 13px;
}

/*# sourceMappingURL=style.css.map */
